/* Default global styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLES */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLES START */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #3b3b3b;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #009079;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: underline;
    text-underline-offset: 7px;
}

/* HEADER STYLES END */

/* ABOUT ME STYLES */
#about-me {
    display: flex;
    flex-wrap: wrap;
}

/* MY WORK STYLES */
#my-work {
    display: flex;
    flex-wrap: wrap;
}

/* CONTACT ME STYLES */
#contact-me {
    display: flex;
    flex-wrap: wrap;
}

/* FOOTER STYLES */
footer {
    display: flex;
    flex-wrap: wrap;
}